<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>All Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:19</td>   <td>-230572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:19</td>   <td>-230572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:19</td>   <td>-230572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:19</td>   <td>-230572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:19</td>   <td>-230572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:19</td>   <td>-230572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.Setup()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:29:35</td>   <td>-95169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginJourneyWithDifferentCredentials(java.lang.String,java.lang.String)[pri:1, instance:iOS.Tests.LoginTests@7fcf2fc1]">loginJourneyWithDifferentCredentials</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:29:35</td>   <td>-95169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginJourneyWithDifferentCredentials(java.lang.String,java.lang.String)[pri:1, instance:iOS.Tests.LoginTests@7fcf2fc1]">loginJourneyWithDifferentCredentials</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:29:35</td>   <td>-95169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginJourneyWithDifferentCredentials(java.lang.String,java.lang.String)[pri:1, instance:iOS.Tests.LoginTests@7fcf2fc1]">loginJourneyWithDifferentCredentials</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:25:43</td>   <td>-326760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginJourneyWithDifferentCredentials(java.lang.String,java.lang.String)[pri:1, instance:Android.Tests.LoginTests@df6620a]">loginJourneyWithDifferentCredentials</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:25:43</td>   <td>-326760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginJourneyWithDifferentCredentials(java.lang.String,java.lang.String)[pri:1, instance:Android.Tests.LoginTests@df6620a]">loginJourneyWithDifferentCredentials</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:25:43</td>   <td>-326760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginJourneyWithDifferentCredentials(java.lang.String,java.lang.String)[pri:1, instance:Android.Tests.LoginTests@df6620a]">loginJourneyWithDifferentCredentials</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:05</td>   <td>-4547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginWithInvalidEmail()[pri:3, instance:iOS.Tests.LoginTests@7fcf2fc1]">loginWithInvalidEmail</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:12</td>   <td>-238083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginWithInvalidEmail()[pri:3, instance:Android.Tests.LoginTests@df6620a]">loginWithInvalidEmail</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:27</td>   <td>-222600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginWithInvalidPassword()[pri:4, instance:Android.Tests.LoginTests@df6620a]">loginWithInvalidPassword</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:21</td>   <td>11211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginWithInvalidPassword()[pri:4, instance:iOS.Tests.LoginTests@7fcf2fc1]">loginWithInvalidPassword</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:26:40</td>   <td>-270260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginWithValidCredentials()[pri:2, instance:Android.Tests.LoginTests@df6620a]">loginWithValidCredentials</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:30:31</td>   <td>-38484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginWithValidCredentials()[pri:2, instance:iOS.Tests.LoginTests@7fcf2fc1]">loginWithValidCredentials</td> 
  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:29</td>   <td>19341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:44</td>   <td>-205487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:29</td>   <td>19341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:29</td>   <td>19341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:29</td>   <td>19341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:44</td>   <td>-205487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:29</td>   <td>19341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:44</td>   <td>-205487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:44</td>   <td>-205487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="8e8a9d">  <td>22/08/04 16:31:29</td>   <td>19341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:iOS.Tests.LoginTests@7fcf2fc1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:44</td>   <td>-205487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
<tr bgcolor="80aa7a">  <td>22/08/04 16:27:44</td>   <td>-205487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:Android.Tests.LoginTests@df6620a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@985324122</td>   <td></td> </tr>
</table>
